.wrap {
	width: 760px;
	}

.wrap_in {
	padding: 0 0 326px 0;
	}

.show760{
	display: block;
	}

.logo{
	padding: 0 0 0 10px;
	}

.top_lk{
	padding: 0 10px 0 35px;
	}

.search{
	width: 300px;
	}

.nav_top > ul > li {
	padding: 0 15px 0 8px;
	}

.nav_top > ul > li > a {
	font-size: 12px;
	}

.nav_top_sub ul {
	width: 230px;
	padding: 0 13px 0 10px;
	}

.home_top {
	padding: 210px 0 60px 0;
	}

.home_top_txt {
	padding: 0 10px 0 65px;
	margin: 0 0 0 10px;
	}

.home_top_txt:before {
	width: 50px;
	}


.home_min{
	padding: 135px 10px 44px 10px;
	background-position: 10px 41px;
	}


.home_title{
	padding: 0 0 30px 65px;
	}

.home_title:before {
	width: 50px;
	}

.plans{
	padding: 78px 10px 0 10px;
	}


.tipes {
	padding: 50px 10px;
	}

.tipe {
	width: 220px;
	padding: 216px 8px 0 8px;
	font-size: 20px;
	line-height: 26px;
	}


.home_tab {
	padding: 50px 10px;
	}



#content {
	padding: 30px 10px;
	}

.doc_list {
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
	}

.p_nav .p_nav_prev{
	margin: 0 20px 0 0;
	}

.p_nav .p_nav_next{
	margin: 0 0 0 20px;
	}


.reg_form:before {
	width: 34px;
	left: -31px;
	}



footer {
    min-height: 266px;
	padding: 30px 0;
    margin: -326px 0 0 0;
	}

.logo_bot{
	padding: 4x 0 0 10px;
	}

.copy{
	padding: 4px 0 0 16px;
    font-size: 16px; line-height: 24px;
    width: 270px;
	}

.nav_bot{
	width: 233px;
	padding: 20px 10px 0 10px;
	}

.nav_top > ul > li {padding:0}
.nav_top > ul > li.sub_nav {padding:0 15px 0 8px}

.wrap_h {overflow:hidden}
.home_top {padding:0}
.home_top_left_bg {display:none}
.home_top_txt {float:none; width:auto; padding:157px 130px 60px 130px; background:url(images/home_top.jpg) no-repeat center top; background-size:cover; margin-left:-130px; margin-right:-130px; max-width:none}
.home_top_right_bg {display:none}
.home_top_right {padding:60px 130px; background:#253a9f url(images/home_top_right_bg.png) no-repeat; background-size:cover; float:none; width:auto; margin-left:-130px; margin-right:-130px}

.vacancies-notice {padding:19px 30px 11px 86px; background:#f0f0f0; margin:33px 0 0 0}
.vacancies-notice::before {left:23px; top:17px}
.vacancies-notice-text {font-size:18px; line-height:24px}
.vacancies-notice-phone {padding:11px 0 0 0}
.vacancies {margin:50px 0 63px 0}
.vacancies-center {padding:40px 0 50px 0}
.vacancies-company {margin:40px 0 0 0}
.vacancies-center h3+.vacancies-company {margin:52px 0 0 0}
.vacancies-company-info {padding:0 20px}
.vacancies-company-info h4 {font-size:16px; line-height:24px; padding:24px 0 21px 0}
.vacancies-company-descr {font-size:18px; line-height:28px; padding:0 0 31px 0; margin-top:-14px}
.vacancies-company-contacts {display:block; margin:15px 0 0 0}
.vacancies-company-contacts-row {display:block; margin:12px 0 0 0}
.vacancies-company-contacts-title {display:block; padding:0}
.vacancies-company-contacts-value {display:block; width:auto}
.vacancies-list {padding:0}
.vacancies-item {font-size:18px; line-height:28px; padding:34px 20px 26px 20px}
.vacancies-item-title {font-size:22px; margin:0 0 -3px 0}
.vacancy {border-bottom:3px solid #1c48a3; padding:0 0 60px 0}
.vacancy .vacancies-company-info {padding:0 20px 0 20px}
.vacancy .vacancies-list {padding:0; background:none}
.vacancy .vacancies-company-contacts {margin:15px 0 0 0}
.vacancy .vacancies-item {margin:30px 0 0 0; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; background:#fafafa; padding:23px 20px 18px 20px}
.vacancy-info::after {display:none}
.vacancy-info-title {float:none; width:auto; font-size:22px}
.vacancy-info-text {margin:2px 0 0 0}
.vacancy-info-text ul li {margin:4px 0 0 0}
.vacancy-info-text ul li:first-child {margin:0}
.vacancy-info-text ul li:before {left:0; top:10px}